@model projetodweb_connectify.Models.Profile

@{
    ViewData["Title"] = "O Meu Perfil";
}

<h1>O Meu Perfil</h1>

<div class="card mt-4">
    <div class="card-body">
        <h5 class="card-title">@Model.User.Username</h5>
        <p class="card-text"><strong>Nome:</strong> @Model.Name</p>
        <p class="card-text"><strong>Bio:</strong> @Model.Bio</p>
        <p class="card-text"><strong>Foto:</strong> @Model.ProfilePicture</p>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar Perfil</a>
    </div>
</div>
