@* Define o tipo de dados que esta view espera receber do Controller. Neste caso, um objeto do tipo 'Users'. *@
@model projetodweb_connectify.Models.Users

@{
    // Define o título da página que será exibido no separador do browser.
    ViewData["Title"] = "Delete";
}

<h1>Apagar Utilizador</h1>

<h3>Tem a certeza que deseja apagar este registo?</h3>
<div>
    <h4>Dados do Utilizador</h4>
    <hr />
    @* 'dl' (Definition List) é usado para exibir os dados do utilizador num formato de lista de termos e descrições. *@
    <dl class="row">
        @* Exibe o nome do campo 'Username'. *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        @* Exibe o valor do campo 'Username'. *@
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        
        @* Exibe o nome do campo 'Email'. *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        @* Exibe o valor do campo 'Email'. *@
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        
        @* Exibe o nome do campo 'CreatedAt' (Data de Criação). *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        @* Exibe o valor do campo 'CreatedAt'. *@
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
    </dl>
    
    @* O formulário será submetido para a action 'Delete' do Controller para confirmar a remoção. *@
    <form asp-action="Delete">
        @* 'asp-for="Id"' cria um campo de input oculto (<input type="hidden">) que contém o ID do utilizador. *@
        @* Isto é crucial para que o Controller saiba qual registo deve apagar. *@
        <input type="hidden" asp-for="Id" />
        
        @* Botão que submete o formulário e confirma a ação de apagar. *@
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        
        @* Link para voltar à página de índice (lista de utilizadores) sem apagar. *@
        <a asp-action="Index">Voltar à Lista</a>
    </form>
</div>